<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.study.first.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.study.first.model.User" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
    </resultMap>
<!--    <sql id="Base_Column_List" >-->
<!--   id, name, age-->
<!--    </sql>-->
<!--    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >-->
<!--        select-->
<!--        <include refid="Base_Column_List" />-->
<!--        from User-->
<!--        where id = #{id,jdbcType=INTEGER}-->
<!--    </select>-->

    <!--插入语句-->
    <!--id要与UserMapper文件中表示插入的函数名一致，parameterType表示函数的输入参数的类型-->
    <insert id="insertUser" parameterType="com.study.first.model.User" useGeneratedKeys="true" keyProperty="id">
      insert into User(id,name,age)values(#{id},#{name},#{age})/*SQL语句*/
    </insert>

    <!--删除语句-->
    <delete id="deleteUser" parameterType="java.lang.Integer">
      delete from User where id =#{id,jdbcType=INTEGER}
    </delete>

    <!--查找语句-->
    <!--resultMap表示函数返回的类型-->
    <select id="selectUser" parameterType="java.lang.Integer" resultMap="BaseResultMap">
       select * from User where id = #{id,jdbcType=INTEGER}
    </select>

    <!--查找语句-->
    <select id="selectAll" resultMap="BaseResultMap">
        select * from User
    </select>

    <!--修改语句-->
    <update id="updateUser" parameterType="com.study.first.model.User">
        update User set name=#{name,jdbcType=VARCHAR},age=#{age,jdbcType=INTEGER} where id=#{id,jdbcType=INTEGER}
    </update>


</mapper>
